In [1]:
# string is a set of characters i.e used to enclosed within "" or '' i.e called string
a='hi my name is devanshu'
print(a)

hi my name is devanshu

In [3]:
# name='my name is brijesh
# my age is 35 years
# i have to done mtech
# ny working in corporate'
# print(name)

name='''my name is brijesh
my age is 35 years
i have to done mtech
ny working in corporate'''

print(name)

my name is brijesh
my age is 35 years
i have to done mtech
ny working in corporate

In [4]:
name="""my name is brijesh
my age is 35 years
i have to done mtech
ny working in corporate"""
print(name)

my name is brijesh
my age is 35 years
i have to done mtech
ny working in corporate

In [5]:
'''name='my name is brijesh
my age is 35 years
i have to done mtech
ny working in corporate'
print(name)'''

"name='my name is brijesh\nmy age is 35 years\ni have to done mtech\nny working in corporate'\nprint(name)"